<h1> Rezumatul activității de duminică</h1>
<p>
Salut! Îți mulțumim că ești aliatul nostru în a asigura continuitate în educația copiilor din Ferentari.
</p>
<p>
Te rugăm să completezi acest formular pentru fiecare dintre copiii cu care ai lucrat astăzi. Durează 5 minute. Informația va fi apoi centralizată și va constitui istoricul educațional al fiecărui copil.
</p>
<mat-form-field>
  <mat-label>Numele tău</mat-label>
  <input type="text" matInput [formControl]="volunteerNameLast" required>
</mat-form-field>
<mat-form-field>
  <mat-label>Prenumele tău</mat-label>
  <input type="text" matInput [formControl]="volunteerNameFirst" required>
</mat-form-field>
<mat-form-field>
  <mat-label>Copilul cu care ai lucrat astăzi</mat-label>
  <input type="text" matInput [formControl]="kid" 
    [matAutocomplete]="kidAutocompletePanel"
    required>
  <mat-hint>Dacă nu găsești numele în listă, te rugăm să ne anunți cât mai curând.</mat-hint>
</mat-form-field>
<mat-autocomplete #kidAutocompletePanel="matAutocomplete"
   [displayWith]="formatName">
  <mat-option *ngFor="let kid of kids | async" [value]="kid">{{formatNameAndGrade(kid)}}</mat-option>
</mat-autocomplete>
<mat-form-field>
  <mat-label>Activitățile desfășurate astăzi</mat-label>
  <textarea matInput [formControl]="activitySummary" required 
  matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=15></textarea>
  <mat-hint>Fii cât mai precis în descrierea activității. De exemplu: am repetat tabla înmulțirii cu 8, am citit primele 5 pagini din cartea "X". </mat-hint>
</mat-form-field>
<mat-form-field>
    <mat-label>Observațiile și recomandările pentru următoarele sesiuni</mat-label>
    <textarea matInput [formControl]="remarks" 
      matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=15></textarea>
    <mat-hint>De exemplu: la ce trebuie lucrat pe viitor, ce merge bine, ce ar putea fi îmbunătățit</mat-hint>
</mat-form-field>
<button mat-raised-button 
  [disabled]="!form.valid" 
  (click)="submit()">
  Trimite
</button>